/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;
        // text-align: right;

        @include lg {
            display: flex;
            // justify-content: flex-end;
        }

        li {
            // margin-bottom: 20px;
            border-bottom: 1px solid $white;

            @include lg {
                align-items: center;
                display: flex;
                // margin: 0px 30px 0 0;
            }

            a:link,
            a:visited {
                font-family: 'Roboto Slab', serif;
                color: $yellow;
                text-decoration: none;
                transition: 0.25s;
                padding: 20px 0;
                display: inline-block;
                // border: 1px solid red;
                width: 100%;
                font-weight: 700;

                @include lg{
                    color: $black;
                    font-size: rem-calc(20);
                    padding: 5px 0;
                    border-right: 2px solid $black;
                    padding: 0 30px;
                }
            }

            a:hover,
            a:active {
                color: $black;
            }
        }

        li:first-child{
            @include lg{
                a{
                    border: none;
                }
            }
        }

        li:last-child{
            border: none;
            @include lg{
                a{
                    border: none;
                }
            }
        }
    }
}